.btn-login {
    background-color: red;
    color: #FFF;
    padding: 10px 15px;
    font-weight: bold;
    margin-top: 1em;
    border: 2px solid black;
    border-radius: 50%;
}

.formulario-login {
    margin-top: 0.5em;
}

.radio {
    display: inline-block;
    padding-top: 1em;
}